<nav class="navbar">
    <div class="nav-left">
        <img src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/5t2a7uyc1weqoekqueb1.png" alt="Future"
            class="logo" />
    </div>

    <div class="nav-right">

        <!-- GUEST -->
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" class="btn outline">Login</a>
            <a routerLink="/signup" class="btn primary">Sign Up</a>
        </ng-container>

        <!-- LOGGED IN -->
        <ng-container *ngIf="isLoggedIn">
            <a routerLink="/newpost" class="btn outline">Create Post</a>

            <div class="user-box" (click)="toggleDropdown()">
                <!-- <span class="username">{{ currentUser.username }}</span> -->
                <img [src]="currentUser.profile_picture" class="avatar">
            </div>
            <div class="dropdown" *ngIf="openDropdown">
                <a>Edit Profile</a>
                <a routerLink="/myposts">My Posts</a>
                <a>Saved Posts</a>
                <a (click)="logout()">Sign out</a>
            </div>
        </ng-container>

    </div>
</nav>