<app-navbar></app-navbar>

<app-notification></app-notification>

<app-loader *ngIf="isLoading"></app-loader>

<div class="page-wrapper">

    <!-- Back button -->
    <button type="button" class="btn ghost back-btn" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00000">
            <path d="M560-280 360-480l200-200v400Z" />
        </svg>
        Back To Home
    </button>

    <!-- EMPTY STATE -->
    <div class="empty-state" *ngIf="!isLoading && posts.length === 0">
        <div class="empty-illustration">
            <span class="emoji">📝</span>
            <span class="line"></span>
        </div>

        <h2>No posts yet</h2>

        <p>
            You haven’t written anything yet.
            Your ideas deserve a place to live.
        </p>

        <a class="empty-link" routerLink="/newpost">
            Create your first post →
        </a>
    </div>

    <!-- POSTS GRID -->
    <div class="posts-grid" *ngIf="posts.length > 0">

        <article class="post" *ngFor="let post of posts">
            <img class="cover" [src]="post.cover_image" />

            <div class="post-body">
                <h2 class="title">{{ post.title }}</h2>

                <p class="excerpt">{{ post.content }}</p>

                <div class="tags">
                    <span *ngFor="let tag of post.tags">#{{ tag }}</span>
                </div>

                <div class="post-footer">
                    <div class="meta">
                        <span class="user">{{ post.username }}</span>
                        <span> · {{ post.timeAgo }}</span>
                    </div>

                    <div class="actions">
                        <button class="delete" (click)="deletePost(post.id)">Delete</button>

                        <button class="read" (click)="onRead(post.id)">
                            Read more
                        </button>
                    </div>
                </div>
            </div>
        </article>

    </div>