<app-navbar></app-navbar>

<app-notification></app-notification>

<div class="layout">

    <app-sidebar></app-sidebar>

    <main class="feed">

        <div class="feed-header">
            <span [class.active]="activeTab === 'discover'" (click)="changeTab('discover')">
                Discover
            </span>

            <span *ngIf="isLoggedIn" [class.active]="activeTab === 'following'" (click)="changeTab('following')">
                Following
            </span>

            <span [class.active]="activeTab === 'latest'" (click)="changeTab('latest')">
                Latest
            </span>

            <span [class.active]="activeTab === 'top'" (click)="changeTab('top')">
                Top
            </span>
        </div>

        <app-loader *ngIf="isLoading"></app-loader>
        <div class="feed-posts" *ngIf="!isLoading">

            <article class="post" *ngFor="let post of posts">
                <img class="cover" [src]="post.cover_image" />

                <div class="post-body">

                    <h2 class="title">{{ post.title }}</h2>

                    <p class="excerpt">{{ post.content }}</p>

                    <div class="tags">
                        <span *ngFor="let tag of post.tags">#{{ tag }}</span>
                    </div>

                    <div class="post-footer">

                        <div class="meta">
                            <span class="user">{{ post.username }}</span>
                            <span> · {{ post.timeAgo }}</span>
                        </div>

                        <div class="actions">

                            <span class="save-icon" (click)="toggleSave(post)">
                                <i class="bx" [ngClass]="post.isSaved 
                                     ? 'bxs-bookmark saved' 
                                     : 'bx-bookmark'">
                                </i>
                            </span>

                            <button class="read" (click)="onReadMore(post.id)">
                                Read more
                            </button>

                        </div>

                    </div>

                </div>
            </article>

        </div>
    </main>
</div>